.text:before {
  display: block;
  position: relative;
  content: "";
  animation: type 6000ms 250ms ease-in-out forwards;
}

@keyframes type {
  0% {
    opacity: 0;
  }
  5% {
    content: "مر";
  }

  10% {
    content: "مرحباً";
  }

  15% {
    content: "مرحباً بك";
  }

  50% {
    content: "مرحباً بك";
  }

  52% {
    content: "مرحباً بك في";
  }

  53% {
    content: "مرحباً بك في";
  }

  57%,
  60% {
    content: "مرحباً بك في خدمة";
  }

  61% {
    content: "مرحباً بك في خدمة ال";
    opacity: 1;
  }

  65%,
  70% {
    content: "مرحباً بك في خدمة النفاذ";
  }

  72% {
    content: "مرحباً بك في خدمة النفاذ ال ";
  }

  73% {
    content: "مرحباً بك في خدمة النفاذ الوط ";
  }

  75% {
    content: "مرحباً بك في خدمة النفاذ الوطني";
  }

  78% {
    content: "مرحباً بك في خدمة النفاذ الوطني ";
  }

  79% {
    content: "مرحباً بك في خدمة النفاذ الوطني الموحد";
  }

  80%,
  100% {
    content: "مرحباً بك في خدمة النفاذ الوطني الموحد!";
    opacity: 1;
  }
}
