.hero::before,
.hero::after {
  position: absolute;
  content: "";
  top: 14%;
  width: 300px;
  height: 500px;
  max-height: 75%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.hero::before {
  background-image: url(/hero-bg1.webp);
  left: 6%;
}
.hero::after {
  right: 3%;
  background-image: url(/hero-bg2.webp);
}

.bannerHeading {
  font-size: 29px !important;
  line-height: 50px !important;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0;
}
.innerText {
  width: 90%;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  color: grey;
}
.insurance_tabs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.insurance_tabs_item {
  width: 150px;
  min-height: 100px;
}
.insurance_tabs_item_link {
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  height: 100%;
  border: 2px solid #c3c2cb;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  text-align: center;
}
.insurance_tabs_item_link {
  color: #736f82 !important;
}

.insurance_tabs_item_link::before {
  position: absolute;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-radius: 4px 2px 2px 2px;
  content: "";
  display: inline-block;
  bottom: -0.45rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(135deg);
  transform: translateX(-50%) rotate(135deg);
  vertical-align: top;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #e9f8ff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.insurance_tabs_item_link__active {
  border: 2px solid #149ade;
  background-color: #e9f8ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
}

.insurance_tabs_item_link__active {
  color: #149ade !important;
}
.insurance_tabs_item_link__active::before {
  opacity: 1;
  visibility: visible;
  border-color: #149ade !important;
}
