@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@100;200;300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #dedede;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #2dc1e4;
}

body,
html,
:root {
  height: 100%;
  font-family: "Tajawal", sans-serif;
}
.PhoneInput {
  direction: ltr;
}

.PhoneInput input {
  outline: none;
  padding: 0.5rem;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
}

.loader {
  position: relative;
  width: 48px;
  height: 48px;
  background: #efefef;
  transform: rotateX(65deg) rotate(45deg);
  color: #34f5c5;
  animation: layers1 1s linear infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #1dcdfe;
  animation: layerTr 1s linear infinite alternate;
}
@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 20px 20px 0 -4px;
  }
}
@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-25px, -25px) scale(1);
  }
}

input,
button {
  @apply outline-none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.container {
  @apply px-4;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #c3c2cb;
}

.has-tooltip {
  @apply relative;
}
.tooltip {
  @apply invisible absolute left-1/2 -translate-x-1/2 -top-6;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.captcha {
  scale: 0.5;
}

.tooltip {
  translate: 50% 50%;
  max-width: 500px;
}

@media screen and (max-width: 768px) {
  .tooltip {
    max-width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .captcha {
    width: 70%;
  }
  .tooltip {
    max-width: 250px;
  }
}

@media screen and (max-width: 425px) {
  .captcha {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .captcha {
    width: 93%;
  }
}

@media screen and (max-width: 375px) {
  .captcha {
    width: 100%;
    float: left;
  }
}

#plate_number_ksa_wrapper .panel-body #plate-wrapper,
#plate_number_ksa_wrapper .panel-body #plate_display_wrapper {
  direction: rtl;
}
.plate-chars-wrapper {
  box-shadow: 0 0 6px #00000040;
  border-radius: 11px;
  display: inline-block;
  padding: 10px 11px 0;
}
[dir="rtl"] #plate-chars {
  text-align: right;
}

#plate-chars {
  border: 1px solid #474747;
  border-radius: 9px;
  display: inline-block;
  padding-right: 18px;
  background-color: #f6f6f6;
  text-align: left;
}
#plate-chars table {
  border-right: 1px solid #474747;
}

table {
  background-color: transparent;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
#plate-chars tr:first-child td {
  border-bottom: 1px solid #474747;
}

#plate-chars td {
  padding: 0 3px;
  white-space: nowrap;
}
#plate-chars td span {
  height: 20px;
  width: 10px;
  margin: 3px;
  font: normal normal bold 19px / 22px Arial;
  letter-spacing: 0;
  color: #000;
  display: inline-block;
}
#plate-chars tr td:last-child {
  border-right: 1px solid #474747;
}

#plate-chars td {
  padding: 0 3px;
  white-space: nowrap;
}
.path-book .form-control {
  box-shadow: unset;
  color: #000;
}

select.form-control {
  font-family: inherit;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #a0a0a0;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
